body {
  font-family: Tahoma, sans-serif;
}


.cursorPointer {
  cursor: pointer;
} 

/* rentCoFont */

.rentCoFontBold {
  font-family: "dynamoMnBold";
}

.rentCoFont {
  font-family: "dynamoCondensed";
}

.rentCoRedFont {
  color: #ffa857;
}

.outlined-text-thick {
  -webkit-text-stroke-width: 3.4px;
  -webkit-text-stroke-color: black;
}

.outlined-text-medium-thick {
  -webkit-text-stroke-width: 2.8px;
  -webkit-text-stroke-color: black;
}

.outlined-text-medium-thin {
  -webkit-text-stroke-width: 2.2px;
  -webkit-text-stroke-color: black;
}
.outlined-text-thin {
  -webkit-text-stroke-width: 1.6px;
  -webkit-text-stroke-color: black;
}
.outlined-text-extra-thin {
  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;
}

/* rentCoFont */

.loginImgLogo {
  height: 140px;
  width: auto;
}
.signupPageIcon {
  height: 80px;
  width: auto;
}

.loginsubHeadingImgLogo {
  height: 27px;
  width: auto;
  margin-left: 28px;
}

.rentCoRed {
  background-color: #ffa857;
}

.rentCoRedText {
  background-color: #ffa857;
}

.yellowBg {
  background-color: #ffe500 !important;
}

.yellowColor {
  color: #ffe500;
}

.marginTop30 {
  margin-top: 30%;
}

.dropdown-toggle::after {
  display: none !important;
}

.scrolMaxHeight300 {
  overflow-y: auto;
  max-height: 300px;
}

.scrolMaxHeight150 {
  overflow-y: auto;
  max-height: 170px;
}

@media (min-width: 576px) and (max-width: 768px) {
}

@media (max-width: 576px) {
  .loginImgLogo {
    height: 100px;
  }
}

.overflow-y-auto {
  scrollbar-width: none;
}
.dotdotdot {
  font-size: 40px; /* adjust the font size to your liking */
}

.dotdotdot span {
  animation: dotdotdot 2s infinite;
}

.dotdotdot span:nth-child(1) {
  animation-delay: 0s;
}

.dotdotdot span:nth-child(2) {
  animation-delay: 0.5s;
}

.dotdotdot span:nth-child(3) {
  animation-delay: 1s;
}

@keyframes dotdotdot {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

th,
td {
  min-width: max-content;
  white-space: nowrap;
  padding: 4px 6px;
  border: 1px solid black !important;
}
